/*Lineas 34, 40 y 41 modo oscuro*/
/* --- General ---*/

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
:root{
    --MY-golden: rgb(153, 142, 78);

    --MY-blue: rgb(40, 38, 129);
    --MY-blue-pastel: rgb(55, 68, 177);
    --MY-blue-darker: rgb(6, 0, 87);

    --MY-gray: rgb(90, 90, 90);
    --MY-gray-light: rgb(125, 125, 125);
    --MY-gray-lighter: rgb(177, 177, 177);
    --MY-gray-dark: rgb(54, 54, 54);    
}
::selection{
    background-color: rgb(0, 255, 255);
    color: black;
}
header{
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--MY-blue-pastel);
    height: auto;
    max-height: 20%;
    /*border-bottom: 5px var(--MY-blue-darker) solid;*/
}
main{
    padding-top: 100px;
    padding-left: 20px;
    background-color: var(--MY-gray-lighter);
    /*background-color: rgb(61, 61, 61);
    color: white;*/
    padding-bottom: 100rem;
}
footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    background-color: var(--MY-golden) /*El color habria que verlo luego*/
}
footer a{
    color: var(--MY-blue);
    margin-left: 20px;
}
footer p{
    padding-top: 5px;
    padding-bottom: 5px;   
    color: var(--MY-blue);
    margin-right: 20px;
}
.align-me{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.colito{
    margin-top: 0%;
    display: flex;
    align-items: center;
}*/

/*--- Gestion de iconos ---*/

.icons{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: black;
}
.icons:hover{
    color: var(--MY-gray-lighter);
    transition: 700ms;
}
.user{
    margin: auto 10px auto 20px;
    font-size: 60px;
    color: black;
    border-radius: 50%;
    background-color: var(--MY-gray-light);
}
.user:hover{
    color: var(--MY-gray-lighter);
    background-color: var(--MY-blue);
    transition: 900ms;
}
.icons_menu{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    width: 35px;
    height: 35px;
}
.icons_menu:hover{
    color: var(--MY-gray-lighter);
    transition: 600ms;
}
.fa-house{
    width: 45px;
    margin-right: 10px;
}

/*--- Lista de elementos ---*/

.support_bar{
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    overflow: hidden;
    max-width: 300px;
    max-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*--- Explorador ---*/

.explorer{
    align-self: center;
    align-items: center;
    height: 40px;
    list-style-type: none;
    display: flex;
    background-color: var(--MY-blue-darker);
    white-space: nowrap; /*No hace el salto de linea*/
}
.fa-angles-right{
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    background-color: var(--MY-gray-dark);
}
.fa-angles-right:hover{
    cursor: pointer;
    background-color: var(--MY-gray);
    transition: 300ms;
}
.explorer-item{
    overflow: hidden;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;    font-weight: 400;
    color: white;
    font-weight: 400;
}
.fa-angle-right{
    padding-left: 5px;
    font-size: 17px;
}
.navigator{
    background-color: var(--MY-gray-dark);
    min-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
    margin-right: 5px;
    color: white;
    padding: 5px 10px 5px 10px;
}
.navigator:hover{
    cursor: pointer;
    color: white;
    background-color: var(--MY-gray-light);
    transition: 300ms;
}
.hidden-ico{
    font-size: 0px;
    max-width: 0px;
    max-height: 0px;
    color: rgb(0, 0, 0);
    display: none;
}
.explorer-item{
    float: left;
    text-align:center
  }
.desplegar:hover>.ul-combo {
    background-color: aqua;
    display: block;
    visibility: visible;
    
}
.ul-combo{
    list-style: none;
    display: none;
    visibility: hidden;
}

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

#menu li>a{
    color: white;
    display: block;
    text-decoration: none;
    min-width: 100px;
}
#menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
}
#menu>li{
    text-align:left;
}
#menu>li>ul{
    display: none;
}
#menu>li:hover>ul {
    display:block;
}

.nohover:hover {
    background-color: var(--MY-gray-light)!important;
    color: white !important;
    transition: 800ms !important;
}

ul{
    list-style:none;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
    background-color: var(--MY-gray-light);
    margin: 5px;
    margin-left: -10px;
}

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

@media (max-width: 900px){
    .align-me{
        padding-bottom: 10px;
        overflow: hidden; /*Usar en cada elemento individual*/
    }
    .align-me ul{
        display: none;
    }
    .hidden-ico{
        margin-left: 10px;
        font-size: 30px;
        max-width: 100px;
        max-height: 100px;
        display: flex;
    }
    ul .navigator {
        display: none;
        visibility: hidden;
    }
    ul .navigator:nth-last-child(-n+2) {
        display: flex;
        max-width: fit-content;
        visibility: visible;
    }
    ul .navigator:first-child{
        display: flex;
        max-width: fit-content;
        visibility: visible;
    }
    .fa-angles-right{
        transform:rotate(180deg);
    }
}
@media (max-width: 550px) {
    header{
        padding-top: 10px;
        width: 100%;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex; 
    }
    main img{
        max-width: 90%;
    }
    .align-me{
        padding-bottom: 10px;
        overflow: hidden; /*Usar en cada elemento individual*/
    }
    .align-me ul{
        display: none;
    }
    .hidden-ico{
        font-size: 30px;
        max-width: 100px;
        max-height: 100px;
        display: flex;
    }
    .explorer{
        order: 2;
        max-width: 80%;
        margin: 0 auto 10px auto;
        overflow: hidden;
        justify-content: flex-end;
    }
    ul .navigator{
        display: none;
        visibility: hidden;
    }
    ul .navigator:nth-last-child(-n+2) { /*-n dice que empiece desde el ultimo y +2 es para que tome los ultimos 2 elementos*/
        display: flex;
        max-width: fit-content;
        visibility: visible;
    }
    ul .navigator:first-child{
        display: flex;
        max-width: fit-content;
        visibility: visible;
    }
    .fa-angles-right{
        transform:rotate(180deg);
    }
    .navigator{
        overflow: hidden;
        width: 100px;        
    }
    .explorer li{
        width: 100px;
    }

}

/*Hay que hacer otro tamaño medido para eso de los 900px en width*/

.lista a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.lista {
    background-color: antiquewhite;
    width: fit-content;
    display: none;
}

.lista a:hover{
    background-color: aqua;
}

.desplegable:hover lista {
    display: block;
}

.desplegable {
    position: absolute;
}