body{
    display: flex;
    justify-content: center;
    background-image: url(./source/Imagenes/background.jpg); /*Buscar una mejor imagen*/
   background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#grid{
    border-radius: 50px;
    /*Cambiar el color del background*/
    background-color:brown;
    width: 50%;
    /*Poner un difuminado*/
    display: grid;
    grid-template-columns: 12% 45% 31% 12%;
    grid-template-rows: 3rem 12rem 3rem;
    grid-template-areas: 
    "area-1 area-1 area-1 area-1"
    "area-5 area-6 area-6 area-8"
    "area-9 area-9 area-9 area-9";
}
.area-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: area-1;
    padding: 50px 0;
}
.area-6{
    background-color: rgb(55, 68, 177);
    border-radius: 25px;
    grid-area: area-6;
    display: grid;
    justify-content: center;
    grid-template-columns: 65% 35%;
    grid-template-rows: 12rem;
    grid-template-areas: "input buttons";
}
.area-9{
    grid-area: area-9;
}
.area-5{
    grid-area: area-5;
}
.area-8{
    grid-area: area-8;
}
.login-box{
    display: flex;
    /*No habria background-color, dentro deben ir mas items*/
    background-color: yellow;
    width: auto;
    height: auto;
    grid-area: input;
}
.login-border-box{
    display: flex;
    /*No habria background-color, dentro deben ir mas items*/
    background-color: aqua;
    width: auto;
    height: auto;
    grid-area: buttons;
}