* {
    outline: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#main { /* Agarro, lo parto en 2 y pongo de un lado el fondo con height 100% y un z-index bajo, del otro lado iria container con un z-index superior */
    max-height: 40em; 
    height: 100vh;
    width: 99.8vw;
    background-image:url(/Source/Imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5%;
    
    animation-name: backimage;
    animation-duration: 90s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "register login";
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--MY-gray-lightest);
}

#cont_log {
    grid-area: login;
    border-left: 2px solid var(--MY-blue-pastel);
}

#cont_reg {
    grid-area: register;
    border-right: 2px solid var(--MY-blue-pastel);
    display: none;
}

#login, #register {
    height: 60%;
    width: 60%;
    margin: 20% 0 20% 0;
    border: 2px solid red;
    padding: 2% 2% 0 2%;
    background-color: var(--MY-blue-light); /*rgb(39, 97, 204);*/
    border: 3px solid rgb(16, 49, 196);
    border-radius: 20px;
    color: white;
}

.login_extras, .register_extras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30%;
}

.mainButton {
    width: 60%;
    height: 10%;
    border-radius: 10px;
    margin: 20px 20%;
}

.etec-logo {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

input {
    height: 1.5em;
    border-radius: 5px;
}
