/* GENERAL */

* {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main {
    margin-top: 80px;
    background-color: var(--MY-gray-light);
    transition: all ease 300ms;
}

/* SUBIR */

#goUp {
    position: fixed;
    margin: 70vh 0 0 0.5vw;
    z-index: 1003;
    width: 30px;
    height: 30px;
    background-color: var(--MY-golden-shiny);
    opacity: 80%;
    border-radius: 50%;
    justify-content: center;
}

.fa-angle-up {
    color: black;
    font-size: 28px;
}

/* INDICE */

#indice {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
    
}

.indice_etapa {
    width: 20%;
    height: 3em;
    background-color: var(--MY-gray-lighter);
    border: none;
    font-size: 14px;
    border-radius: 25px;
    border-radius: 30px 0px;
    transition: all ease 300ms;
    border-bottom: 3px solid #15549C;
}

.indice_etapa:hover {
    border: 1px solid #15549C;
    border-radius: 30px 0px;
    background-color: #a1b5da;
}

/* APARTADOS */

.apartado {
    position: relative;
    display: none;
    width: 100%;
    border-top: 5px solid var(--MY-gray-lighter);
    background-color: rgb(206, 206, 206);
    min-height: 2vh;
}

.container {
    min-height: 60em;
}

#inactive {
    padding-top: 2em;
    text-align: center;
    background-color: rgb(206, 206, 206);
    min-height: 60em;
}

#inactive div{
    margin: 0 20% 0 20%;
}

/* TAREAS Y DEMAS CATEGORIAS */

.tarea, .url, .recurso, .pagina {
    display: grid;
    margin: 0 auto 1em auto;
    padding: 1em 0 1em 0;
    width: 94%;
    border: 2px solid var(--MY-blue-light);
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
} 

.tarea {
    grid-template-areas: "logo tipo checkbox" "logo link checkbox";
    grid-template-columns: 10% 70% 20%;
}

.url, .recurso {
    grid-template-areas: "logo tipo" "logo link";
    grid-template-columns: 10% 90%;
}

.pagina {
    grid-template-areas: "logo tipo arrow" "logo link arrow";
    grid-template-columns: 10% 80% 10%;
}

.pagina .link {
    cursor: pointer;
}

.pagina .fa-angle-right {
    cursor: pointer;
}

.logo {
    grid-area: logo;
    font-size: 32px;
    text-align: center;
    margin: auto 0;
}

.fa-file-circle-plus {
    color: #008829;
}

.fa-globe {
    color: #1F6AF5;
}

.fa-file-pdf {
    color: rgb(196, 0, 0);
}

.fa-file-lines {
    color: #1F6AF5;
}

.fa-angle-right {
    grid-area: arrow;
    font-size: 2em;
    margin: auto 0;
}

.tipo {
    grid-area: tipo;
    text-align: left;
    padding-left: 3%;
    font-size: 12px;
}

.link {
    grid-area: link;
    color: black;
    font-size: 20px;
}

.inactive_img {
    width: 100%;
}

/* BOTONES Y EMERGENTES */

#checkbox {
    grid-area: checkbox;
    width: 70%;
    height: 100%;
    margin: 0 1em 0 auto;
    background-color: var(--MY-gray-lighter);
    border-radius: 8px;
    transition: all ease 500ms;
}

#tarea_modal {
    position: fixed !important;
    background-color: white;
    display: none;
    z-index: 1001;
    width: 92%;
    height: 70%;
    margin: -13%;
    margin-left: 3.8%;
    border: 5px solid var(--MY-blue-light);
    border-radius: 2em;
    padding-left: 5px;
    padding-bottom: 1em;
    filter: blur(0px) !important;
}

.horario {
    display: flex;
    flex-direction: column;
    padding: 1em 0 0.5em 5%;
    margin-bottom: 0.5em;
    margin-left: -5px;
    border-bottom: 1px solid var(--MY-blue-light);
}

.show {
    display: flex !important;
    flex-direction: column;
}

.blur {
    filter: blur(6px);
}

.noblur {
    filter: blur(0px)
}

/* main :not(.noblur) {
    filter: blur(0px);
} */

/* .rotado {
    transform: rotate(90deg);
} */

.separador {
    margin-left: -5px;
    display: grid;
    grid-template-columns: 90% 10%;
    
    background-color: rgb(162, 171, 253);
    border-bottom: 2px solid var(--MY-blue-light);
    border-radius: 2em 2em 0 0;
}

.separador h1 {
    padding: 0.5em 1em;
}

.separador p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.95em 0 0;
    color: red;
    font-size: 26px;
}

.separador p:hover {
    background-color: rgb(134, 146, 255);
    transition: all 700ms;
}

#pagina_dropdown {
    position: relative;
    background-color: var(--MY-gray-lighter);
    z-index: 998;
    display: none;
    width: 92%;
    border: 5px solid var(--MY-blue-light);
    border-top: 1px solid var(--MY-blue-light);
    border-radius: 0 0 2em 2em;
    padding-left: 5px;
    padding-bottom: 1em;
    margin: -1em auto 2em auto;
}

/* Animaciones */

.animate__fadeInLeftBig, .animate__fadeInRightBig {
    animation-duration: 0.5s;
}

.animate__fadeOutRightBig, .animate__fadeOutLeftBig {
    animation-duration: 0.5s;
}

.animate__fadeInDownBig {
    animation-duration: 1s;
}

.animate__fadeOutDownBig {
    animation-duration: 1s;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
    #main {
        margin-top: 79px;
    }
}

@media (max-width: 900px) {
    #main {
        margin-top: 76px;
    }
}

@media (max-width: 480px) {
    #main {
        margin-top: 0;
    }
}