/*VER DONDE MIERDA SE ROMPIERON LOS TAMAÑOS DEL PUTO EXPLORER debe ser algo con el fit-content de quien sabe donde*/
/* --- General ---*/ 

#modificable {
    display: grid;
    grid-template-areas: auto auto;
    grid-template-columns: 90% 10%;
    background-color: var(--MY-blue-darker);
    width: 45%;
    height: 60px;
    margin: 7.5px 0 7.5px 0;
    border-radius: 2em;
    align-items: center;
    justify-items: center;
}

#modificable .modificable-edit {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 32px;
    color: var(--MY-gray-lightest);
    display: none;
}

#modificable:hover .modificable-edit {
    display: block;
}

#modificable-texto {
    color: white;
    margin-left: 10px;
}

#modificable-input-zone {
    position: fixed;
    margin: 25vh 0 0 35vw;
    width: 30%;
    height: 28vh;
    border: 5px solid var(--MY-blue-light);
    border-radius: 20px;
    background-color: var(--MY-gray-lightest); 
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
header{
    z-index: 999;
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--MY-blue-light);
    height: auto;
    max-height: 20%;
    border-bottom: 5px solid var(--MY-blue);
}

header .align-me{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--- Gestion de iconos ---*/

header .icons{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: black;
}
header .icons:hover{
    color: var(--MY-gray-lighter);
    transition: 700ms;
}
header .user{
    margin: auto 10px auto 20px;
    font-size: 50px;
    color: var(--MY-blue-darker);
    border-radius: 50%;
    background-color: var(--MY-gray-lighter);
    position: relative;
    z-index: 1000000;
}
header .user:hover{
    background-color: rgb(243, 230, 168);
    transition: 400ms;
}
header .icons_menu{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
}
header .icons_menu:hover{
    color: var(--MY-gray-lighter);
    transition: 600ms;
}
header .fa-house{
    width: 45px;
    margin-right: 10px;
}

/*--- Lista de elementos ---*/

header .support_bar{
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    overflow: hidden;
    max-width: 300px;
    max-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*--- Explorador ---*/

header .explorer{
    align-self: center;
    align-items: center;
    height: 40px;
    list-style-type: none;
    display: flex;
    background-color: var(--MY-blue-darker);
    white-space: nowrap; /*No hace el salto de linea*/
}
header .fa-angles-right{
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    background-color: var(--MY-gray-dark);
}
header .fa-angles-right:hover{
    cursor: pointer;
    background-color: var(--MY-gray);
    transition: 300ms;
}
header .explorer-item{
    overflow: hidden;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    font-weight: 400;
    color: white;
    font-weight: 400;
}
header .fa-angle-right{
    padding-left: 5px;
    font-size: 17px;
}
header .navigator{
    background-color: var(--MY-gray-dark);
    min-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
    margin-right: 5px;
    color: white;
    padding: 5px 10px 5px 10px;
}
header .navigator:hover{
    cursor: pointer;
    color: white;
    background-color: var(--MY-gray-light);
    transition: 300ms;
}
header .navigator:hover>.fa-angle-right{
    transform:rotate(90deg);
}
header .hidden-ico{
    font-size: 0px;
    max-width: 0px;
    max-height: 0px;
    color: rgb(0, 0, 0);
    display: none;
}
header .explorer-item{
    float: left;
    text-align:center
}

/*DROPDOWN TRES BARRAS DE RESPONSIVE*/

.dropdown-bars {
    display: inline-block;
    position: relative;
    margin-bottom: 0px;
}

.dropdown-content-icons {
    padding-top: 5vh;
    display: none;
    position: fixed !important;
    z-index: 1000000;
    overflow: auto;
    background-color: var(--MY-blue-light);
}

.dropdown-content-icons i {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}

.dropdown-bars:hover .dropdown-content-icons {
    display: block;
}

/*DISPLAY USER*/

.extranav-topzone {
    margin: 0.5em 5%;
    display: flex;
    justify-content: space-between;
}

.extranav-title {
    font-size: 18px;
}

.usernav {
    z-index: 1001;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 0 87%;
    width: 13%;
    height: fit-content;
    max-height: 10em;
    border: rgb(126, 126, 253) 3px solid;
    border-radius: 0 0 0 20px;
    background-color: rgb(177, 177, 177);
    z-index: 1000;
}

.usernav-datazone {
    display: flex;
    flex-direction: row;
    margin: 2% 2% 2% 0px;
    justify-content: space-around;
    align-items: center;
}

.usernav-username {
    font-size: 18px;
    padding-left: 10px;
}

.usernav-presetText {
    color: black;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.usernav-close {
    padding: 0 10px;
    font-size: 16px;
}

/*DISPLAY NOTIF*/

.notifnav {
    position: fixed;
    border: rgb(126, 126, 253) 3px solid;
    border-radius: 0 0 15px 15px;
    background-color: rgb(207, 207, 207);
    margin: 0 0 0 60%;
    width: 20%;
    z-index: 1000;
}

.notifnav-notifs {
    margin: 0 3%;
}

.notifnav-notifs-notif {
    margin-bottom: 3px;
}

.notifnav-notifs-notif a{
    color: black;
}

/*DISPLAY NOTES*/

.notenav {
    position: fixed;
    border: rgb(126, 126, 253) 3px solid;
    border-radius: 0 0 15px 15px;
    background-color: rgb(207, 207, 207);
    margin: 0 0 0 75%;
    width: 25%;
    z-index: 1000;
}

#notenav-notes {
    margin: 0 3%;
}

#notenav-add {
    width: 100%;
    border-radius: 0 0 12px 12px;
    background-color: var(--MY-blue-lighter);
    border: 1px solid var(--MY-blue-low);
}

#newNote {
    z-index: 10000;
    position: fixed;
    margin: 25vh 0 0 35vw;
    width: 30%;
    height: 28vh;
    border: 5px solid var(--MY-blue-light);
    border-radius: 20px;
    background-color: var(--MY-gray-lightest); 
}

#newNote-input {
    width: 90%;
    height: 60%;
    margin: 0 4% 2% 5%;
    text-indent: 10px;
    outline: none;
    background-color: var(--MY-gray-lightest);
    border: 1px solid var(--MY-gray-light);
}

.newNote-divButtons {
    width: 90%;
    height: 20%;
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
}

.newNote-divButtons button {
    width: 45%;
    height: 80%;
    border-radius: 10px;
}

/*RESPONSIVE*/

@media (max-width: 1029px){
    header {
        min-height: 79px;
    }
    header .hidden-ico{
        margin-left: 10px;
        font-size: 30px;
        max-width: 100px;
        max-height: 1000px;
        display: flex;
    }
    header .align-me{
        padding-bottom: 10px;
        overflow: hidden; /* Usar en cada elemento individual*/
    }
    header .align-me ul{ /* Displayers sueltos del header*/
        display: none;
    }
}

@media (max-width: 900px){
    #modificable {
        width: 290px;
    }
    header {
        min-height: 71px;
    }
    header .align-me{
        padding-bottom: 10px;
        overflow: hidden; /*Usar en cada elemento individual*/
    }
    header .align-me ul{
        display: none;
    }
    header .hidden-ico{
        margin-left: 10px;
        font-size: 30px;
        max-width: 100px;
        max-height: 100px;
        display: flex;
    }
    header .fa-angles-right{
        transform:rotate(180deg);
    }
}
@media (max-width: 480px) {
    header{
        padding-top: 10px;
        width: 100%;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex; 
    }
    header .align-me{
        padding-bottom: 10px;
        overflow: hidden; /*Usar en cada elemento individual*/
    }
    header .align-me ul{
        display: none;
    }
    header .hidden-ico{
        font-size: 30px;
        max-width: 100px;
        max-height: 100px;
        display: flex;
    }
    header #modificable{
        order: 2;
        max-width: 90%;
        margin: 0 auto 10px auto;
        overflow: hidden;
        justify-content: flex-end;
    }
    header .fa-angles-right{
        transform:rotate(180deg);
    }
}