/*Lineas 34, 40 y 41 modo oscuro*/ /*VER DONDE MIERDA SE ROMPIERON LOS TAMAÑOS DEL PUTO EXPLORER debe ser algo con el fit-content de quien sabe donde*/
/* --- General ---*/ 

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
header{
    z-index: 999;
    display: flex; 
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--MY-blue-pastel);
    height: auto;
    max-height: 20%;
    /*border-bottom: 5px var(--MY-blue-darker) solid;*/
}
/* main{
    padding-left: 20px;
    background-color: var(--MY-gray-lighter);
    background-color: rgb(61, 61, 61);
    color: white;
} */
header .align-me{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*.colito{
    margin-top: 0%;
    display: flex;
    align-items: center;
}*/

/*--- Gestion de iconos ---*/

header .icons{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: black;
}
header .icons:hover{
    color: var(--MY-gray-lighter);
    transition: 700ms;
}
header .user{
    margin: auto 10px auto 20px;
    font-size: 50px;
    color: black;
    border-radius: 50%;
    background-color: var(--MY-gray-light);
}
header .user:hover{
    color: var(--MY-gray-lighter);
    background-color: var(--MY-blue);
    transition: 900ms;
}
header .icons_menu{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 15px;
    width: 35px;
    height: 35px;
}
header .icons_menu:hover{
    color: var(--MY-gray-lighter);
    transition: 600ms;
}
header .fa-house{
    width: 45px;
    margin-right: 10px;
}

/*--- Lista de elementos ---*/

header .support_bar{
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    overflow: hidden;
    max-width: 300px;
    max-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*--- Explorador ---*/

header .explorer{
    align-self: center;
    align-items: center;
    height: 40px;
    list-style-type: none;
    display: flex;
    background-color: var(--MY-blue-darker);
    white-space: nowrap; /*No hace el salto de linea*/
}
header .fa-angles-right{
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 5px;
    background-color: var(--MY-gray-dark);
}
header .fa-angles-right:hover{
    cursor: pointer;
    background-color: var(--MY-gray);
    transition: 300ms;
}
header .explorer-item{
    overflow: hidden;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    font-weight: 400;
    color: white;
    font-weight: 400;
}
header .fa-angle-right{
    padding-left: 5px;
    font-size: 17px;
}
header .navigator{
    background-color: var(--MY-gray-dark);
    min-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
    margin-right: 5px;
    color: white;
    padding: 5px 10px 5px 10px;
}
header .navigator:hover{
    cursor: pointer;
    color: white;
    background-color: var(--MY-gray-light);
    transition: 300ms;
}
header .navigator:hover>.fa-angle-right{
    transform:rotate(90deg);
}
header .hidden-ico{
    font-size: 0px;
    max-width: 0px;
    max-height: 0px;
    color: rgb(0, 0, 0);
    display: none;
}
header .explorer-item{
    float: left;
    text-align:center
}

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

header .menu li>a{
    color: white;
    display: block;
    text-decoration: none;
}
header .menu li>a:hover{
    background-color: var(--MY-gray-light);
    transition: 300ms;
}
header .menu>li{
    text-align:left;
}
header .menu>li>ul{
    display: none;
}
header .menu>li>ul>li>a{
    min-width: 140px;
}
header .menu>li:hover>ul {
    padding-left: 5px;
    display:block;
}

header ul {
    list-style:none;
}

header .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

header .nav li:hover > ul {
    display:block;
    background-color: var(--MY-gray-dark);
    margin: 5px;
    margin-left: -10px;
}

/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

@media (max-width: 1000px){
    header .hidden-ico{
        margin-left: 10px;
        font-size: 30px;
        max-width: 100px;
        max-height: 100px;
        display: flex;
    }
    header .align-me{
        padding-bottom: 10px;
        overflow: hidden; /*Usar en cada elemento individual*/
    }
    header .align-me ul{
        display: none;
    }
}

@media (max-width: 900px){
    header .align-me{
        padding-bottom: 10px;
        overflow: hidden; /*Usar en cada elemento individual*/
    }
    header .align-me ul{
        display: none;
    }
    header .hidden-ico{
        margin-left: 10px;
        font-size: 30px;
        max-width: 100px;
        max-height: 100px;
        display: flex;
    }
    header ul .resp {
        display: none;
        visibility: hidden;
    }
    header ul .resp:nth-last-child(-n+2) {
        display: flex;
        visibility: visible;
    }
    header ul .resp:first-child{
        display: flex;
        max-width: fit-content;
        visibility: visible;
    }
    header .fa-angles-right{
        transform:rotate(180deg);
    }
}
@media (max-width: 480px) {
    header{
        padding-top: 10px;
        width: 100%;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex; 
    }
    header .align-me{
        padding-bottom: 10px;
        overflow: hidden; /*Usar en cada elemento individual*/
    }
    header .align-me ul{
        display: none;
    }
    header .hidden-ico{
        font-size: 30px;
        max-width: 100px;
        max-height: 100px;
        display: flex;
    }
    header .explorer{
        order: 2;
        max-width: 80%;
        margin: 0 auto 10px auto;
        overflow: hidden;
        justify-content: flex-end;
    }
    header ul .resp {
        display: none;
        visibility: hidden;
    }
    header ul .resp:nth-last-child(-n+2) { /*-n dice que empiece desde el ultimo y +2 es para que tome los ultimos 2 elementos*/
        display: flex;
        visibility: visible;
    }
    header ul .resp:first-child{
        display: flex;
        max-width: fit-content;
        visibility: visible;
    }
    header .fa-angles-right{
        transform:rotate(180deg);
    }
    header .navigator{
        overflow: hidden;
        max-width: 100px;
        width: fit-content;
    }
    /*.explorer li{
        width: 100px;
    }*/
}